/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
:root {
  --main-font: "Inter-Variable", sans-serif;
  --acent-font: "PressStart2P-Regular", monospace;
  --font-weight-card-text: 400;
  --font-weight-card-title: 700;
  --bg-color: rgba(255, 255, 255, 1);
  --bg-image: repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --accent-color: rgba(0, 0, 0, 1);
  --color-button-text: rgba(255, 255, 255, 1);
}

.page {
  color: var(--accent-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text)
    var(--font-weight-title);
}

.wrapper {
  margin: auto;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  max-inline-size: 700px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-block-start: 100px;
  padding: 25px 14px;
  font-family: var(--acent-font), sans-serif;
  background-color: var(--bg-color);
}

.header__logo {
  margin-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  transition: 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: 0;
  block-size: 2px;
}

.theme-menu__button:focus::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: activ-theme 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
}

@keyframes activ-theme {
  0% {
    inset-inline-start: -20px;
  }

  100% {
    inset-inline-start: -24px;
  }
}

.content {
  margin-block-start: 100px;
  margin-block-end: 50px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 3px 10px;
  font-weight: var(--font-weight-card-title);
}

.image-wrapper {
  position: relative;
  border-block-end: 2px solid var(--accent-color);
  block-size: 696px;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-family: var(--acent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--bg-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card-content {
  padding: 25px;
}

.card__text {
  display: flex;
  flex-wrap: wrap;
  row-gap: 27px;
  margin-block-end: 25px;
}

.card__text-item {
  font-weight: var(--font-weight-card-text);
}

.card__button {
  display: flex;
  justify-content: end;
  row-gap: 12px;
}

.content-button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid var(--accent-color);
  font-family: var(--acent-font);
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  appearance: none;
  min-inline-size: 130px;  
}

.content-button:hover {
  transition: 0.3s ease;
  cursor: pointer;
}

.content-button::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0 0;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  block-size: 100%;
  inline-size: 0%;
}

.content-button:hover:before {
  inline-size: 100%;
}

.content-button:focus {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button-like {
  padding: 9px 17px;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--color-button-text);
}

.footer {
  display: flex;
  justify-content: center;
  border: none;
}

.button-save {
  align-items: center;
  min-inline-size: 335px;
  gap: 8px;
  padding: 15px 20px;
  background-color: var(--bg-color);
}

.button__icon {
  block-size: 22px;
  inline-size: 22px;
  mix-blend-mode: difference;
  color: var(--color-button-text);
  
}
